{% load static %}

<html>
    <head>
        <title>App Enquetes</title>
        <link rel="stylesheet" type="text/css"
              href="{% static 'enquetes/css/styles.css' %}"/>
    </head>
    <body>
        {% block titulo_principal %}
        <h1>Aplicação Enquetes - DSWeb 2021.2</h1>
        {% endblock %}

        {% block titulo %}{% endblock %}

        {% block mensagem_de_erro %}
        {% if erro %}
            <hr/>
            <b class="erro">ERRO: {{ erro }}</b>
            <hr/>
        {% endif %}
        {% endblock %}

        {% block conteudo %}
        {% endblock %}

        {% block menu %}
        <hr/>
        <a href="{% url 'enquetes:index' %}">Principal</a> |
        <a href="{% url 'enquetes:encerradas' %}">Resultados</a> |
        <a href="{% url 'enquetes:cadastro' %}">(+) Nova enquete</a> |
        <a href="{% url 'admin:index' %}">Administração</a>
        {% if user.is_authenticated %}
            | Usuário: <a href="{% url 'enquetes:autor' user.autor.id %}">
            {{ user.username }}</a>
            | <a href="{% url 'logout' %}?next={% url 'enquetes:index' %}">Logout</a>
        {% else %}
            | <a href="{% url 'login' %}?next={% url 'enquetes:index' %}">Login</a>
        {% endif %}
        {% block itens_de_menu %}{% endblock %}
        {% endblock %}
        <br />&copy; Copyrigth DSWeb 2021.2.
    </body>
</html>
