{% extends 'enquetes/base.html' %}
{% load static %}

{% block titulo %}<h2>Criar enquete - DSWeb 2021.2</h2>{% endblock %}

{% block conteudo %}
        <form method="post" action="{% url 'enquetes:cadastro' %}">
            {% csrf_token %}
            <p>Enunciado da enquete:
            <input type="text" name="texto" size="70">*</p>
            <b>Alternativas obrigatórias</b>
            <label for="texto">Pergunta</label><input type="text" name="texto">*
            <br>
            <label for="op1">Opção1</label><input type="text" name="op1">*
            <br>
            <label for="op2">Opção2</label><input type="text" name="op2">
            <br>
            <label for="op3">Opção3</label><input type="text" name="op3">
            <br>
            <label for="op4">Opção4</label><input type="text" name="op4">
            <br>
            <label for="op5">Opção5</label><input type="text" name="op5">
            <br>
            <label for="op6">Opção6</label><input type="text" name="op6">
            <br>
            <input type="submit" value="Cadastrar pergunta">
        </form>
        <br>
{% endblock %}

    </body>
</html>