<html>
    <head>
        <title>App Enquete</title>
    </head>
    <body>
        <h2>Enquete: {{ pergunta.texto }}</h2>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <p><b>Escolha a opção desejada:</b></p>
        <form method="post" action="{% url 'enquetes:votacao' pergunta.id %}">
            {% csrf_token %}
            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                    <li>
                        <input type="radio" name="opcao" value="{{ opcao.id }}"
                               id="opcao{{ forloop.counter }}">
                        <label for="opcao{{ forloop.counter }}">
                            {{ opcao.texto }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Registre o seu voto">
        </form>
        <hr/>
        <a href="{% url 'enquetes:index' %}">Voltar</a>
    </body>
</html>