{% extends 'enquetes/base.html' %}
{% load static %}

{% block titulo %}{% endblock %}

{% block conteudo %}
        {% if ultimas_enquetes %}
            <ol>
                {% for pergunta in ultimas_enquetes %}
                    <li><a href="{% url 'enquetes:detalhes' pergunta.id %}">
                        {{ pergunta.texto | truncatewords:100 }}</a>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <h3>Nenhuma enquete cadastrada até o momento!</h3>
        {% endif %}
{% endblock %}

    </body>
</html>