*{
    margin: 0;
}

h2{
    color: red;
}

body {
    display: block;
    margin: 8px;
    background-color: black;
    color: white;
}

form{
    margin-top: 20px;
}

label{
    margin-right: 5px;
}

input{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}