{% extends 'skambo/base.html' %}
{% load static %}

    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a href="#"
          ><img id="logo" src="{% static 'skambo/images/header-logo.png' %}" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:index' %}"
                >Início
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:products' %}">Produtos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:services' %}">Serviços</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'skambo:about' %}">Sobre nós</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next={% url 'skambo:index' %}">Sair</a>
            </li>
            {% else %}
                <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}?next={% url 'skambo:index' %}">Entrar</a>
                </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:register' %}">Anunciar</a>
            </li>
            <form method="get" action="{% url 'skambo:search' %}">
                <div id="divBusca">
                  <input type="text" placeholder="Busque aqui" id="txtBusca" name="str_busca"/>
                  <input type="submit" id="btnBusca" value="Pesquisar">
                </div>
            </form>

          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}


    {% block conteudo %}
        <!-- Page Content -->
        <!-- About Page Starts Here -->
        <div class="about-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h1>Sobre nós</h1>
                </div>
              </div>
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/about-us.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-content">
                  <h4>Melhor plataforma de Skambo</h4>
                  <p>
                    Somos uma plataforma web para que você realize um Skambo de maneira rápida e fácil.

                  </p>
                  <br />
                  <p>
                    Você que está sem dinheiro no momento ou até você que quer dar fim a algo que
                    não usa mais, realize seu Skambo agora e adquira algo sem gastar dinheiro.
                  </p>
                  <div class="share">
                    <h6>
                      Nos encontre:
                      <span
                        ><a href="#"><i class="fa fa-facebook"></i></a
                        ><a href="#"><i class="fa fa-linkedin"></i></a
                        ><a href="#"><i class="fa fa-twitter"></i></a
                      ></span>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- About Page Ends Here -->
    {% endblock %}
