{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}
    <title>Skambo</title>
    {% endblock %}

  </head>
  <body>

	    <div class="menu">
	    	<div class="center">
                <ul>
	    			<li><a href="#">HOME</a></li>
	    			<li><a href="#">SOBRE</a></li>
	    			<li><a href="#">PRODUTOS</a></li>
	    			<li><a href="#">SERVIÇOS</a></li>
	    			<li><a href="#">REGISTRO</a></li>
	    		</ul>
	    	</div>
	    </div>
	    	<div class="main">
	    		<p>
	    		PROPOSTA DE VALOR:
	    		<br>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at cursus turpis. Maecenas sagittis, mauris a lacinia feugiat, ligula nulla viverra neque, in ornare nibh augue ac lorem. Phasellus eu consequat sem. Sed at nulla rutrum, venenatis risus euismod, ultrices enim. Quisque dignissim tortor lectus, non rutrum odio dignissim eget. Nunc in lacus sagittis, viverra magna nec, semper sem. Donec suscipit lobortis dolor.
	    		<br>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at cursus turpis. Maecenas sagittis, mauris a lacinia feugiat, ligula nulla viverra neque, in ornare nibh augue ac lorem. Phasellus eu consequat sem. Sed at nulla rutrum, venenatis risus euismod, ultrices enim. Quisque dignissim tortor lectus, non rutrum odio dignissim eget. Nunc in lacus sagittis, viverra magna nec, semper sem. Donec suscipit lobortis dolor.

	    		</p>
	    	</div>
	    	<div class="conteudo" align="center"> <!-- adicionei align="center" -->
	    		<p >
	    			CONTEÚDO:
	    		</p>
	    		<table>
	    			<tr>
	    				<td>PRODUTO/SERVIÇO</td>
	    				<td>PRODUTO/SERVIÇO</td>
	    				<td>PRODUTO/SERVIÇO</td>
	    				<td>PRODUTO/SERVIÇO</td>
	    			</tr>
	    		</table>
	    	</div>
	    	<div class="social" align="center"> <!-- adicionei align="center" -->
	    		<p>
					PROVA SOCIAL:
	    		</p>
	    		<table>
	    			<tr>
	    				<td>FEEDBACK</td>
	    				<td>FEEDBACK</td>
	    				<td>FEEDBACK</td>
	    				<td>FEEDBACK</td>
	    			</tr>
	    		</table>

	    	</div>

  </body>
</html>
