<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block title %}<title>Skambo</title>{% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
<body>

    <div class="menu">
    	    	<div class="center">
    	    		<ul>
    	    			<a href="#"><li>ENTRAR</li></a>
    	    			<li>SERVIÇOS</li>
    	    			<li>PRODUTOS </li>
    	    			<li>SOBRE</li>
    	    			<li>HOME</li>
    	    		</ul>
    	    	</div>
    	    </div>
    	    	<div class="main">
    	    		<p>
    	    		 PROPOSTA DE VALOR:
    	    		<br>
    	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at cursus turpis. Maecenas sagittis, mauris a lacinia feugiat, ligula nulla viverra neque, in ornare nibh augue ac lorem. Phasellus eu consequat sem. Sed at nulla rutrum, venenatis risus euismod, ultrices enim. Quisque dignissim tortor lectus, non rutrum odio dignissim eget. Nunc in lacus sagittis, viverra magna nec, semper sem. Donec suscipit lobortis dolor.
    	    		<br>
    	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at cursus turpis. Maecenas sagittis, mauris a lacinia feugiat, ligula nulla viverra neque, in ornare nibh augue ac lorem. Phasellus eu consequat sem. Sed at nulla rutrum, venenatis risus euismod, ultrices enim. Quisque dignissim tortor lectus, non rutrum odio dignissim eget. Nunc in lacus sagittis, viverra magna nec, semper sem. Donec suscipit lobortis dolor.

    	    		</p>
    	    	</div>
    	    	<div class="conteudo">
    	    		<p>
    	    			CONTEÚDO:
    	    		</p>
    	    		<table class="espaco">
    	    			<tr>
    	    				<td>PRODUTO/SERVIÇO</td>
    	    				<td>PRODUTO/SERVIÇO</td>
    	    				<td>PRODUTO/SERVIÇO</td>
    	    				<td>PRODUTO/SERVIÇO</td>
    	    			</tr>
    	    		</table>
    	    	</div>
    	    	<div class="social">
    	    		<p>
    					PROVA SOCIAL:
    	    		</p>
    	    		<table class="espaco">
    	    			<tr>
    	    				<td>FEEDBACK</td>
    	    				<td>FEEDBACK</td>
    	    				<td>FEEDBACK</td>
    	    				<td>FEEDBACK</td>
    	    			</tr>
    	    		</table>

    </div>

  </body>
</html>
