{% extends 'skambo/base.html' %}
{% load static %}

    {% block conteudo %}
        <!-- Page Content -->
        <!-- Banner Starts Here -->
        <div class="banner">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="caption">
                  <h2>Skambo</h2>
                  <div class="line-dec"></div>
                  <p>
                    Realize seu <strong>escambo</strong> de forma rápida e sem gastar dinheiro.
                    Você pode trocar agora mesmo um produto/serviço sem sair de casa <br /><br />Se junte a nós e faça parte dessa nova realidade
                  </p>
                  <div class="main-button">
                    <a href="#">Faça seu escambo!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Banner Ends Here -->

        <!-- Featured Starts Here -->
        <div class="featured-items">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h1>Produtos</h1>
                </div>
              </div>

              <!-- Produtos aqui -->
                   {% if produtos  %}
                    <div class="featured container no-gutter">
                        <div class="row posts">
                    {% for produto in produtos %}
                        <div class="item new col-md-4">
                            <div class="featured-item">
                            <a href="{% url 'skambo:anuncio' produto.id %}">
                                <img src="{{ produto.imagem.url }}"></a>
                                <h4>{{ produto.descricao }}</h4>
                                <strong>Interesses:</strong> <span>{{ produto.interesses }}</span>
                                <br>
                                <strong>Data:</strong> <span>{{ produto.data }}</span>
                                <br>
                                <strong>Contato:</strong> <span>{{ produto.contato }}</span>
                                <br>
                                <strong>Cidade:</strong> <span>{{ produto.cidade}}</span>
                                <br>
                                <strong>Bairro:</strong> <span>{{ produto.bairro}}</span>
                                <br>
                                <strong>Ativo:</strong> <span>{{ produto.ativo}}</span>
                                <br>
                                <strong>Anunciante:</strong> <span>{{ produto.anunciante}}</span>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
               </div>
                {% else %}
                    <h3>Nenhum produto cadastrado</h3>
                {% endif %}

            <div class="featured-items">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h1>Serviços</h1>
                </div>
              </div>

              <!-- Serviços aqui -->
                   {% if servicos  %}
                    <div class="featured container no-gutter">
                        <div class="row posts">
                    {% for anuncio in servicos %}
                        <div class="item new col-md-4">
                            <div class="featured-item">
                            <a href="{% url 'skambo:anuncio' anuncio.id %}">
                                {% if anuncio.imagem %}
                                <img src="{{ anuncio.imagem.url }}">
                                {% else %}
                                Sem imagem
                                {% endif %}</a>
                                <h4>{{ anuncio.descricao }}</h4>
                                <strong>Interesses:</strong> <span>{{ anuncio.interesses }}</span>
                                <br>
                                <strong>Data:</strong> <span>{{ anuncio.data }}</span>
                                <br>
                                <strong>Contato:</strong> <span>{{ anuncio.contato }}</span>
                                <br>
                                <strong>Cidade:</strong> <span>{{ anuncio.cidade}}</span>
                                <br>
                                <strong>Bairro:</strong> <span>{{ anuncio.bairro}}</span>
                                <br>
                                <strong>Ativo:</strong> <span>{{ anuncio.ativo}}</span>
                                <br>
                                <strong>Anunciante:</strong> <span>{{ anuncio.anunciante}}</span>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
               </div>
                {% else %}
                    <h3>Nenhum serviço cadastrado</h3>
                {% endif %}
        <!-- Featred Ends Here -->
    {% endblock %}

