{% extends 'skambo/base.html' %}
{% load static %}

    {% block conteudo %}
        <!-- Featured Starts Here -->
        <div class="featured-items">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h1>Produtos</h1>
                </div>
              </div>

              <!-- Produtos aqui -->
                   {% if produtos  %}
                    <div class="featured container no-gutter">
                        <div class="row posts">
                    {% for produto in produtos %}
                        <div class="item new col-md-4">
                            <div class="featured-item">
                            <a href="{% url 'skambo:anuncio' produto.id %}">
                                <img src="{{ produto.imagem.url }}"></a>
                                <h4>{{ produto.descricao }}</h4>
                                <strong>Interesses:</strong> <span>{{ produto.interesses }}</span>
                                <br>
                                <strong>Data:</strong> <span>{{ produto.data }}</span>
                                <br>
                                <strong>Contato:</strong> <span>{{ produto.contato }}</span>
                                <br>
                                <strong>Cidade:</strong> <span>{{ produto.cidade}}</span>
                                <br>
                                <strong>Bairro:</strong> <span>{{ produto.bairro}}</span>
                                <br>
                                <strong>Ativo:</strong> <span>{{ produto.ativo}}</span>
                                <br>
                                <strong>Anunciante:</strong> <span>{{ produto.anunciante}}</span>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
               </div>
                {% else %}
                    <h3>Nenhum produto cadastrado</h3>
                {% endif %}
    {% endblock %}
