{% extends 'skambo/base.html' %}
{% load static %}

    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a href="#"
          ><img id="logo" src="{% static 'skambo/images/header-logo.png' %}" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:index' %}"
                >Início
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'skambo:products' %}">Produtos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:services' %}">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:about' %}">Sobre nós</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next={% url 'skambo:index' %}">Sair</a>
            </li>
            {% else %}
                <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}?next={% url 'skambo:index' %}">Entrar</a>
                </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:register' %}">Anunciar</a>
            </li>
            <form method="get" action="{% url 'skambo:search' %}">
                <div id="divBusca">
                  <input type="text" placeholder="Busque aqui" id="txtBusca" name="str_busca"/>
                  <input type="submit" id="btnBusca" value="Pesquisar">
                </div>
            </form>

          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block conteudo %}
        <!-- Featured Starts Here -->
        <div class="featured-items">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h1>Produtos</h1>
                </div>
              </div>

              <!-- Produtos aqui -->
                   {% if produtos  %}
                    <div class="featured container no-gutter">
                        <div class="row posts">
                    {% for produto in produtos %}
                        <div class="item new col-md-4">
                            <div class="featured-item">
                            <a href="{% url 'skambo:anuncio' produto.id %}">
                                {% if produto.imagem %}
                                <img src="{{ produto.imagem.url }}">
                                {% else %}
                                Sem imagem
                                {% endif %}</a>
                                <h4>{{ produto.descricao }}</h4>
                                <strong>Marca:</strong> <span>{{ produto.marca }}</span>
                                <br>
                                <strong>Estado:</strong> <span>{{ produto.estado }}</span>
                                <br>
                                <strong>Anos de uso:</strong> <span>{{ produto.anos_de_uso }}</span>
                                <br>
                                <strong>Interesses:</strong> <span>{{ produto.interesses }}</span>
                                <br>
                                <strong>Data:</strong> <span>{{ produto.data }}</span>
                                <br>
                                <strong>Contato:</strong> <span>{{ produto.contato }}</span>
                                <br>
                                <strong>Cidade:</strong> <span>{{ produto.cidade}}</span>
                                <br>
                                <strong>Bairro:</strong> <span>{{ produto.bairro}}</span>
                                <br>
                                <strong>Ativo:</strong> <span>{{ produto.ativo}}</span>
                                <br>
                                <strong>Anunciante:</strong> <span>{{ produto.anunciante}}</span>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
               </div>
                {% else %}
                    <h3>Nenhum produto cadastrado</h3>
                {% endif %}
    {% endblock %}
