{% extends 'skambo/base.html' %}
{% load static %}

    {% block conteudo %}
        <h2>Proposta</h2>
        <br>
        <!-- Formulário proposta -->
           <div class="form">{% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {{ form.non_field_errors }}
            <form method="post" enctype="multipart/form-data"
                action="{% url 'skambo:proposal' anuncio.id %}">
                <p>Anuncio Desejado: {{ anuncio.descricao }}</p>
                {% csrf_token %}
                <select name="proposta">
                    {% for an in user.usuario.anuncio_set.all %}
                        <option value="{{ an.id }}">
                            {{ an.descricao }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Registrar proposta">
            </form>
            <br>
            </div>


        <br>
    {% endblock %}