{% extends 'skambo/base.html' %}
{% load static %}

    {% block conteudo %}
        <h2>Criar anuncio</h2>

        <!-- Formulário -->
           <div class="form">{% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {{ form.non_field_errors }}
            <form method="post" enctype="multipart/form-data"
                action="{% url 'skambo:register' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Cadastrar anuncio">
            </form>
            <br>
            </div>
    {% endblock %}
