{% load static %}
<html>
    <head>
        <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
      rel="stylesheet"
    />

    <title>Skambo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css"
              href="{% static 'skambo/vendor/bootstrap/css/bootstrap.min.css' %}"/>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'skambo/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'skambo/css/tooplate-main.css' %}" />
    <link rel="stylesheet" href="{% static 'skambo/css/owl.css' %}" />
    </head>
    <body>

        <!-- Pre Header -->
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span>Realize seu skambo!</span>
          </div>
        </div>
      </div>
    </div>

        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a href="#"
          ><img id="logo" src="{% static 'skambo/images/header-logo.png' %}" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:index' %}"
                >Início
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:products' %}">Produtos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:services' %}">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:about' %}">Sobre nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skambo:about' %}">Entrar</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'skambo:register' %}">Anunciar</a>
            </li>
            <div id="divBusca">
              <input type="text" id="txtBusca" placeholder="Buscar..."/>
              <!-- <img src="{% static 'skambo/images/lupa.png' %}" id="btnBusca" alt="Buscar"/> !-->
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <h2>Criar anuncio</h2>

    <!-- Formulário -->
       <div class="form">{% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {{ form.non_field_errors }}
        <form method="post" enctype="multipart/form-data"
            action="{% url 'skambo:register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Cadastrar anuncio">
        </form>
        <br>
        <a href = "{% url 'skambo:index' %}">Voltar</a>
        </div>

    <!-- Footer Starts Here -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Políticas de privacidade</a></li>
                <li><a href="#">Como posso ajudar? ?</a></li>
                <li><a href="#">Contantato</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="social-icons">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Ends Here -->


    <!-- Sub Footer Starts Here -->
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>
                Copyright &copy; 2019 Company Name - Design:
                <a rel="nofollow" href="https://www.facebook.com/tooplate"
                  >Tooplate</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sub Footer Ends Here -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/flex-slider.js"></script>

    <script language="text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0 //set a cleared flag for each field
      function clearField(t) {
        //declaring the array outside of the
        if (!cleared[t.id]) {
          // function makes it static and global
          cleared[t.id] = 1 // you could use true and false, but that's more typing
          t.value = '' // with more chance of typos
          t.style.color = '#fff'
        }
      }
    </script>

    </body>
</html>